/build
CMakeLists.txt.user

*.log
*~
*.o
*.a
*.bak
a.out
Makefile
.deps
config.status
config.h
config.h.in
stamp-h1
libtool
.libs
*.la
*.lo

/sample/test_gs
/sample/test_ms
/sample/test_ms_callback

autom4te.cache/requests

