/build
*.a
*.dylib
sample/test_gs
sample/test_ms
sample/test_ms_callback
CMakeLists.txt.user




*.log
*~
*.bak
a.out
Makefile
.deps
config.status
config.h
config.h.in
stamp-h1
libtool
.libs
*.la
*.lo
autom4te.cache/requests