*.log
*~
*.o
*.a
*.bak
a.out
Makefile
.deps
config.status
config.h
config.h.in
stamp-h1
libtool
.libs
*.la
*.lo
sample/test-gs
sample/test-ms
sample/test-ms-callback
sample/test-ssm/urg-handler
sample/test-ssm/urg-viewer

autom4te.cache/requests

